<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hy.springmaven.dao.ImageItemDao" >
  <resultMap id="BaseResultMap" type="hy.springmaven.pojo.ImageItem" >
    <result column="id" property="id" jdbcType="NVARCHAR" />
    <result column="name" property="name" jdbcType="NVARCHAR" />
    <result column="description" property="description" jdbcType="NVARCHAR" />
    <result column="type" property="type" jdbcType="NVARCHAR" />
    <result column="size" property="size" jdbcType="NVARCHAR" />
    <result column="url" property="url" jdbcType="NVARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="hy.springmaven.pojo.ImageItem" >
    insert into image_item (id, name, description, 
      type, size, url)
    values (#{id,jdbcType=NVARCHAR}, #{name,jdbcType=NVARCHAR}, #{description,jdbcType=NVARCHAR}, 
      #{type,jdbcType=NVARCHAR}, #{size,jdbcType=NVARCHAR}, #{url,jdbcType=NVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="hy.springmaven.pojo.ImageItem" >
    insert into image_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="size != null" >
        size,
      </if>
      <if test="url != null" >
        url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=NVARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=NVARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=NVARCHAR},
      </if>
      <if test="size != null" >
        #{size,jdbcType=NVARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  
   <select id="getImageItemById" parameterType="java.lang.String" resultType="hy.springmaven.pojo.ImageItem" >
    select * from image_item where id = #{id,jdbcType=NVARCHAR}
  </select>
   <select id="getAllImages" resultType="hy.springmaven.pojo.ImageItem" >
    select * from image_item
  </select>
  
</mapper>